@charset "UTF-8";
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --acent-color: #2196F3;
  --main-backgroung-color: #F5F4FA;
  --secondary-background-color: #2F303A;
  --white: #FFFFFF;
  --black: #000000;
  --background-button-color: #188CE8;
  --logo-color: #AFB1B8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--acent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__main {
  color: var(--black);
}

.line__mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

/* Навігація */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link {
    position: relative;
    display: block;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--acent-color);
  }
  .site-nav .current {
    color: var(--acent-color);
  }
  .current::after {
    content: "";
    position: absolute;
    bottom: -33px;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--acent-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .auth-nav .link {
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav .link:hover, .auth-nav .link:focus {
    color: var(--acent-color);
    fill: var(--acent-color);
  }
  .auth-nav .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .icon-nav {
    margin-right: 8px;
  }
  .item .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link {
    position: relative;
    display: block;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--acent-color);
  }
  .site-nav .current {
    color: var(--acent-color);
  }
  .current::after {
    content: "";
    position: absolute;
    bottom: -33px;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--acent-color);
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .auth-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav .link:hover, .auth-nav .link:focus {
    color: var(--acent-color);
    fill: var(--acent-color);
  }
  .auth-nav .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auth-nav .item:not(:last-child) {
    margin-right: 30px;
  }
  .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .icon-nav {
    margin-right: 10px;
  }
  .item .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.mobmenu {
  position: fixed;
  z-index: 20;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobmenu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobmenu__bottom {
  margin-top: 32px;
}
.mobmenu__container {
  padding: 0 40px 48px;
}
.mobmenu__site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
.mobmenu__site-nav .link {
  display: block;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobmenu__site-nav .link:hover, .mobmenu__site-nav .link:focus {
  color: var(--acent-color);
}
.mobmenu__site-nav .current {
  color: var(--acent-color);
}
.mobmenu__site-nav .item:not(:last-child) {
  margin-bottom: 32px;
}
.mobmenu .link {
  text-decoration: none;
}
.mobmenu__tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--acent-color);
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 377px) {
  .mobmenu__tel {
    font-size: 27px;
    letter-spacing: 0.01;
  }
}
.mobmenu__telli {
  margin-bottom: 32px;
}
.mobmenu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.mobmenu__mailli {
  margin-bottom: 64px;
}
.mobmenu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--acent-color);
}
@media screen and (min-width: 320px) and (max-width: 437px) {
  .mobmenu__link {
    font-size: 12px;
    letter-spacing: 0.01;
  }
}
.mobmenu__linklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 48px;
}
.mobmenu__linkli {
  position: relative;
}
.mobmenu__linkli:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 437px) {
  .mobmenu__linkli:not(:last-child) {
    margin-right: 10px;
  }
}
.mobmenu__twitter::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 1px;
  left: -21px;
  top: 10px;
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media screen and (min-width: 320px) and (max-width: 437px) {
  .mobmenu__twitter::before {
    width: 15px;
    left: -12px;
  }
}
.mobmenu__facebook::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 1px;
  left: -21px;
  top: 10px;
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media screen and (min-width: 320px) and (max-width: 437px) {
  .mobmenu__facebook::before {
    width: 15px;
    left: -12px;
  }
}
.mobmenu__linkedin::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 1px;
  left: -21px;
  top: 10px;
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media screen and (min-width: 320px) and (max-width: 437px) {
  .mobmenu__linkedin::before {
    width: 15px;
    left: -12px;
  }
}

.item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.menu-toggle {
  display: block;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--acent-color);
}
.menu-toggle__close {
  padding-top: 10px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.project-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .project-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 8px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .nav-list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    margin-bottom: 50px;
  }
}

.buttons {
  padding: 6px 22px;
  background-color: var(--main-backgroung-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: solid transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover, .buttons:focus {
  background-color: var(--acent-color);
  color: var(--white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.project__img {
  width: 450px;
}
.project__link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__title {
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__text {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}
.project__border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.container-project {
  position: relative;
  overflow: hidden;
}
.container-project__text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 77px 24px;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
}

.project__link:hover .container-project__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .project__img {
    width: 354px;
  }
  .project__border {
    width: 354px;
  }
  .container-project__text {
    padding: 49px 24px 77px;
  }
}
@media screen and (min-width: 1200px) {
  .project__img {
    width: 370px;
  }
  .project__border {
    width: 370px;
  }
  .container-project__text {
    padding: 63px 24px;
  }
}
.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  color: var(--white);
}
.footer__mobcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.footer__title {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  fill: var(--white);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--acent-color);
}
.footer__input {
  height: 50px;
  width: 100%;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  color: var(--white);
}
.footer__button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  padding: 0;
  background-color: var(--acent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  cursor: pointer;
}
.footer__button:hover, .footer__button:focus {
  background-color: #188ce8;
}
.footer__button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
}
.footer__icon-list:not(:last-child) {
  margin-right: 10px;
}
.footer__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.address {
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover, .address:focus {
  color: var(--acent-color);
}

.nav-link {
  display: block;
  margin-top: 8px;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: var(--acent-color);
}

.icon-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 28px;
  padding-left: 28px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
  .footer__title {
    margin-top: 0;
  }
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__case {
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__button {
    margin: 0;
  }
  .footer__input {
    width: 358px;
    margin-right: 12px;
  }
  .footer__title {
    margin-top: 0;
  }
  .footer__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}/*# sourceMappingURL=portfolio.css.map */