.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-backgroung-color);
  max-width: 767px;
  height: 120px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 4px;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
    text-align: center;

    margin: 0;
    padding: 0;
  }

  &__p {
    margin: 10px 0 0 0;
  }
}

// tablet

@media screen and (min-width:768px) and (max-width:1199px) {
  .benefits {
    display: flex;

    &__section {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__list {
      max-width: 354px;
      // flex-basis: calc((100% - 60px) / 2);
    }
  }
}

// desktop

@media screen and (min-width:1200px) and (max-width:1600px) {
  .benefits{

    &__section {
      display: flex;
      gap: 30px;
    }

    &__list {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}