.mobmenu {
  position: fixed;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  &__bottom {
    margin-top: 32px;
  }

  &__container {
    padding: 0 40px 48px;
  }

  &__site-nav {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;

    & .link {
      display: block;
      color: var(--title-text-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
        &:hover,
        &:focus {
          color: var(--acent-color);
        }
    }
  }

  &__site-nav .item:not(:last-child){
    margin-bottom: 32px;
  }

  & .link {
    text-decoration: none;
  }

  &__tel {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40/34);

    letter-spacing: 0.02em;

    color: var(--acent-color);
    text-decoration: none;

    @media screen and (min-width:320px) and (max-width:377px) {
      font-size: 27px;
      letter-spacing: 0.01;
    }
  }

  &__telli {
    margin-bottom: 32px;
  }

  &__email {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    text-decoration: none;
  }

  &__mailli {
    margin-bottom: 64px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22/18);

    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--acent-color);

    @media screen and (min-width:320px) and (max-width:437px) {
      font-size: 12px;
      letter-spacing: 0.01;
    }
  }

  &__linklist {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
  }

  &__linkli {
    position: relative;
  }

  &__linkli:not(:last-child) {
    margin-right: 20px;

    @media screen and (min-width:320px) and (max-width:437px) {
      margin-right: 10px;
    }
  }

  &__twitter::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 1px;
    left: -21px;
    top: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  
    transform: rotate(90deg);

    @media screen and (min-width:320px) and (max-width:437px) {
      width: 15px;
      left: -12px;
    }
  }

  &__facebook::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 1px;
    left: -21px;
    top: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  
    transform: rotate(90deg);

    @media screen and (min-width:320px) and (max-width:437px) {
      width: 15px;
      left: -12px;
    }
  }

  &__linkedin::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 1px;
    left: -21px;
    top: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  
    transform: rotate(90deg);

    @media screen and (min-width:320px) and (max-width:437px) {
      width: 15px;
      left: -12px;
    }
  }
}

.item .link {
  display: flex;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.menu-toggle {
  @media screen and (min-width:320px) and (max-width:767px) {
    display: block;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-left: auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--acent-color);
    }

    &__close {
      padding-top: 10px;
      padding-right: 15px;
    }
  }

  @media screen and (min-width:768px) and (max-width:1600px) {
    display: none;
  }
  
  //   & .icon-close {
  //     display: none;
  //   }
  
  //   &.is-open .icon-menu {
  //     display: block;
  //   }
  
  //   &.is-open .icon-close {
  //     display: none;
  //   }
  }