.team {
  background-color: var(--main-backgroung-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    margin-top: 30px;
    gap: 30px;
  }

  &__people {
    background-color: var(--white);
    fill: var(--logo-color);
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
@media screen and (min-width:320px) and (max-width:767px) {
  &__people:not(:first-child) {
    margin-top: 30px;
  }
}

//   &__container {
//     margin-bottom: 30px;
//   }

  &__title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-text-color);
  
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }

  &__text {
    margin-bottom: 16px;
  
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
  }

  &__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.main-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  margin-bottom: 24px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.icon-link {
  display: block;
  fill: var(--logo-color);
  padding: 12px;
  border-radius: 50px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--white);
    background-color: var(--acent-color);
  }
}

.icon-team {
    display: block;

}

// tablet

@media screen and (min-width:768px) and (max-width:1199px) {
  .team{
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 30px;
    }

    &__people {
      max-width: 354px;
    }
  }
}

// desktop

@media screen and (min-width:1200px) {
  .team {
    &__list {
      display: flex;
      justify-content: center;
    }

    &__people {
      max-width: 270px;
    }
  }
}
